/* -----RESET--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----DEBUG--------*/
.debug .top{
   background-color: #add8e6; 
   /* height: 50px; */

}

.debug .low{
    background-color:#00008b;
    /* height: 50px; */

}

.debug .header-top{
    background-color: #daa520;
    height: 50px;

}

.debug .header-low{
    background-color:#ee82ee;
    height: 200px;
    width: 800px;
}

.debug .first{
    background-color: rgb(187, 29, 29);
    height: 500px;
}

.debug .row{
    height: 500px;
}

.debug .col-big{
    background-color:#1e90ff ;
}

.debug .col-small{
    background-color: pink;
}

.debug .grey{
    background-color:#d3d3d3 ;
}

.debug .content{
    background-color: #228b22;
    height: 700px;
}



/* -----COMMON--------*/
.container{
    max-width: 1200px;
    margin: auto;
}




/* -----HEADER--------*/
.top, .low{
    padding: 16px 0;
}


.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-low {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-low {
    display: flex;
    
}



/* -----MAIN--------*/

section{
    padding: 40px 0;
}
.row {
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    width: 40%;
}



/* -----FOOTER--------*/